@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header styles */
@layer base {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #333;
    line-height: 1.2;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #333;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: #333;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 2rem; /* adjust font size for smaller screens */
    }
  }
}

/* Background colors */

body {
  background-color: #f5eed4;
}

#header {
  background-color: #333;
  color: #fff;
}

#footer {
  background-color: #ddd;
  color: #333;
}
